body {
    font-family: sans-serif;
    color: rgb(150, 81, 81);
    background-image: url('./images/waterfall.jpg');
    
}

/* #username_field{
    border: 2px rgb(150, 31, 219) solid
} */
#username_field:focus{
    outline: none;
    border-color: red;

}
/* #username_field:hover{
    border-color:red
    
} */
/* #password_field{
    border: 2px rgb(100, 219, 31) solid
} */
#password_field:focus {
    outline: none;
    border-color:red
}


#login_button {
    background-color:rgb(247, 191, 228);
    color:rgb(29, 57, 218)

}

#login_button:hover{
    background-color: rgb(156, 224, 213);
    cursor:pointer

}

.btn{
    border: none;
    text-decoration: none;
    background:rgb(113, 184, 157);
    padding: 8px;
    color: rgb(14, 13, 13);
    border-radius: 5px;
    cursor:pointer;
}
.btn:hover{
    background-color:palevioletred;
}

#container {
    margin: 20px auto;
    background: rgb(174, 211, 241);
    border: 1px solid gray;
    padding: 20px;
    width: 40%;
    height: 20%;

}

#contact {
    margin: 20px auto;
    background: rgb(157, 218, 198);
    border: 1px solid gray;
    padding: 20px;
    width: 40%;
   
}

#address{
    margin: 20px auto ;
    background: rgb(224, 140, 224);
    border: 1px solid gray;
    padding: 20px;
    width: 40%;
}

.image {
    height: 110px;
    border-radius: 50%;
    float: right;
    display: inline;
}
.fa-address-book{
    display:inline;
    float: left;
}
.fa-envelope {
    display: inline;
    float: left;
}
.fa-phone {
    display: inline;
    float: left;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
    background-color: rgb(8, 8, 8);
}

.logo{
    width: 15%;

}

.nav_links{
    list-style: none;
    color: white;
    text-decoration: none;

}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    color: white;
}

/*  width: 30em;
 height: 15em;
 margin: 5em auto;
 background: white;
 border: 1px solid gray;
 padding: 0.5em 2em; */